
<div class="container mt-5">
    <div class="card" style="padding: 20px;">
        <div class="text-center" style="padding: 20px; color: blue;">
            <h1>Lost Item Successfully Created</h1>
        </div>
        <table class="table table-striped">
            <thead>
              <tr>
                <th scope="col"></th>
                <th scope="col"></th>
               
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Date of Loss</th>
                <td>{{lostItem.dateOfLoss}}</td>
               
              </tr>
              <tr>
                <th scope="row">Item Description</th>
                <td>{{lostItem.itemDescription}}</td>
               
              </tr>
               <tr>
                <th scope="row">Province</th>
                <td>{{lostItem.province}}</td>
               
              </tr>
            
            
            </tbody>
          </table>
    </div>
</div>
